<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>spring5</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<script>
function pagingFormSubmit(currentPage) {
	var form = document.getElementById('pagingForm');
	var page = document.getElementById('page');
	page.value = currentPage;
	form.submit();
}
</script>
</head>
<body>
<header>
<h1>[ 게시판 ]</h1>
</header>
<section>
<table>
<tr>
	<td class="white">전체 : <span th:text="${navi.totalRecordsCount}"></span></td>
	<td class="white" colspan="3"></td>
	<td class="head">
		<p sec:authorize="isAuthenticated()"><a th:href="@{/board/write}">글쓰기</a></p>
<!-- 	<p sec:authorize="isAuthenticated()"><input type="button" th:onclick="|location.href='@{/board/write}'|" value="글쓰기"></p> -->
	</td>
</tr>
<tr>
	<th>번호</th>
	<th style="width:220px;">제목</th>
	<th>작성자</th>
	<th>조회수</th>
	<th>작성일</th>
</tr>
<tr th:each="board : ${boardlist}">
	<td th:text="${board.boardnum}" class="center"></td>
	<td>
		<a th:text="${board.title}" th:href="@{/board/read(num=${board.boardnum})}"></a>
		<!-- http://localhost:8888/spring5/board/read?num=1 와 같은 경로 생성 -->
	</td>
	<td th:text="${board.memberid}"></td>
	<td th:text="${board.hits}" class="center"></td>
	<td th:text="${board.inputdate}"></td>
</tr>
</table>

	<div id="navigator">
	
	<!-- 페이지 이동 링크 -->     
	<a th:href="|javascript:pagingFormSubmit(${navi.currentPage - navi.pagePerGroup})|">◁◁</a>
	<a th:href="|javascript:pagingFormSubmit(${navi.currentPage - 1})|">◀</a> 

	<span th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}"> 
		<th:block th:if="${counter == navi.currentPage}"><b></th:block>
			<a th:text="${counter}" th:href="|javascript:pagingFormSubmit(${counter})|"></a>&nbsp;
		<th:block th:if="${counter == navi.currentPage}"></b></th:block>
	</span>
	
	<a th:href="|javascript:pagingFormSubmit(${navi.currentPage + 1})|">▶</a> 
	<a th:href="|javascript:pagingFormSubmit(${navi.currentPage + navi.pagePerGroup})|">▷▷</a>
	<br><br>
	
	<!-- 검색폼 -->
	<form id="pagingForm" method="get" th:action="@{/board/list}">
		<input type="hidden" name="page" id="page" />
		<select id="type" name="type">
			<option value="title" th:selected="${type} == 'title'">제목</option>
			<option value="contents" th:selected="${type} == 'contents'">본문</option>
			<option value="memberid" th:selected="${type} == 'memberid'">작성자ID</option>
			<option value="all" th:selected="${type} == 'all'">전체</option>
		</select>
		<input type="text"  name="searchWord" th:value="${searchWord}">
		<input type="button" onclick="pagingFormSubmit(1)" value="검색">
	</form>
	
	</div>

</section>
</body>
</html>